.card-dashboard-product {
  margin-bottom: 28px;

  .card-body {
    font-weight: normal;
    font-size: 18px;
    color: #0c0d36;
  }
  .product-category {
    font-weight: normal;
    font-size: 15px;
    color: #c5c5c5;
  }
}
